@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.underline{
    text-decoration-color: #FDC435;
    text-decoration-style: solid;
    text-decoration-thickness: 0.5vw ;
}

  